
body{ background-color:#d7eaea;  }
hr{ border-color: blue;
   border-style: dotted;
  border-bottom: none;
  border-width: medium;
width: 100px;
}
h1{
  color: #669900;
}
h3
{ color: #669900; }
